<template name="electionsAdminResults">
  {{#with election}}
    <div class="email-content">
      <div class="email-content-header pure-g">
          <div class="pure-u-1-2">
              <h1 class="email-content-title">Showing Results: {{ name }}</h1>
              <p class="email-content-subtitle">
              <span>Created By</span> {{creator}}
              </p>
          </div>
          <div class="email-content-controls pure-u-1-2">
            <a href={{pathFor 'adminElectionsShow'}} class="pure-button button-success">Back to
              Info</a>
          </div>
      </div>
      <div class="email-content-body">
        <!-- start -->
        <h1>Election Results</h1>
        {{#if hasRank}}
          {{retrieveRankResults}}
          <div>
            <p>Rank results are not updated live</p>
            <p>Last update: {{getRankTime}}</p>
            <a id="refresh-rank" class="large-button">Refresh Rank Results</a>
            <br/>
            <br/>
          </div>
        {{/if}}
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr><th>Name</th><th>{{name}}</th></tr>
          </thead>
          <tbody>
            <tr><td>Description</td><td>{{description}}</td></tr>
          </tbody>
        </table>
        <h2>Questions</h2>
        {{#each questions}}
          <table class="pure-table pure-table-horizontal">
            <thead>
                <tr><td>Name</td><td>{{name}}</td></tr>
            </thead>
            <tbody>
                <tr><td>Description</td><td>{{description}}</td></tr>
                <tr><td>Winner</td><td>{{getWinner}}</td></tr>
                {{#each choices}}
                  <tr class="pure-table-odd"><td>Name</td><td>{{name}}</td></tr>
                  <tr><td>Description</td><td>{{description}}</td></tr>
                  {{#if isPick ../_id}}
                    <tr><td>Votes</td><td>{{votes _id ../_id ../../votes }}</td></tr>
                  {{/if}}
                  {{#if isRank ../_id}}
                    {{#each getRankResults _id ../_id}}
                      <tr><td>Round {{round}}:</td><td>{{votesNumber}}</td></tr>
                    {{/each}}
                  {{/if}}
                {{/each}}
                {{#if allowAbstain}}
                  <tr class="pure-table-odd"><td>Name</td><td>Abstain</td></tr>
                  <tr><td>Description</td><td>Abstaining From This Vote</td></tr>
                  <tr><td>Votes</td><td>{{votes "abstain" _id ../votes }}</td></tr>
                {{/if}}
            </tbody>
          </table>
          <br/>
        {{/each}}
        <!-- end -->
      </div>
    </div>
  {{/with}}
</template>
