<template name="electionsAdminList">
  {{#each elections}}
    <br/>
    <br/>
    {{#if notModifying}}
      <div class="table-responsive">
        <table border="1" class="table table-striped table-bordered table-hover table-condensed table-responsive">
          <tr>
            <td><button class="openCloseElection btn btn-block {{openCloseClass}}" href="#">{{openCloseElection}} Election</button></td>
            <td><button class="modifyElection btn btn-block btn-primary" href="#" >Edit this Election</button><br/><br/></td>
            <td><button class="deleteElection btn btn-block btn-danger" href="#">Delete Election</button></td>
          </tr>
          <tr><td><h5>{{name}}</h5></td></tr>
          <tr><td><span class="text-muted">Description: </span>{{description}}</td></tr>
          <tr><td><span class="text-muted">Creator: </span>{{creator}}</td></tr>
          <tr><td><span class="text-muted">Total Votes: </span>{{voteCountTotal}}</td></tr>
          <tr><td><span class="text-muted">Groups: </span></td></tr>
          <tr><td>
          {{#each groups}}
            {{name}}<br/>
          {{/each}}
          </td></tr>
        <tr><td><h5 class="text-muted">Questions: </h5></td></tr>
          {{#each questions}}
            <tr class="success"><td></td><td>{{name}}</td></tr>
            <tr><td></td><td><span class="text-muted">Description: </span>{{description}}</td></tr>
            <tr><td></td><td><span class="text-muted">Question Votes: </span>{{voteCountQuestion}}</td></tr>
            <tr>
              <td></td><td class="{{abstainTextClass}}">{{allowAbstain}} Abstention</td>
            </tr>
            <tr>
              <td></td><td class="{{multiTextClass}}">{{multi}} Choice</td>
            </tr>
            <tr><td></td><td>Choices: </td></tr>
            {{#each choices}}
              <tr class="warning"><td></td><td></td><td>{{name}}</td></tr>
              <tr><td></td><td></td><td><span class="text-muted">Description: </span>{{description}}</td></tr>
              <tr><td></td><td></td><td><span class="text-muted">Image URL: </span>{{image}}</td></tr>
              <tr><td></td><td></td><td><span class="text-muted">Choice Votes: </span>{{voteCountChoice}}</td></tr>
            {{/each}}
          {{/each}}
        </table>
      </div>
    {{else}}
      {{>electionsAdminModify}}
    {{/if}}
  {{/each}}
  <h5> Create New Election </h5>
  <form id="newElection">
    <label for="electionName" class="text-muted">Election Name: </label>
    <input id="electionName" name="electionName" type="text" /><br/>
    <label for="electionDescription" class="text-muted">Election Description: </label>
    <input id="electionDescription" name="electionDescription" type="text" /><br/>
    <input type="submit" value="Create New Election" class="btn btn-success" />
  </form>
</template>
