<template name="about">
    <div class="row">
      <div class="splash col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 about">
        <div class="profileblur"></div>
        <p>
          NYUVote was developed by the NYU Abu Dhabi Research and Development Committee.
          This project was sponsored by the NYU Student Senators Council.
        </p>
        <p>
          NYUVote is a powerful, general purpose voting system. It is designed to 
          send live ballots that provide instant results. The application is
          capable of producing live updating graphs of the votes as they stream
          in. Setting up an election takes only minutes through our friendly
          graphical user interface.
        </p>
        <p>
          The system is suitable for everything from school wide elections to instant polls at
          meetings. Great care has been take to ensure that the system has many
          security measures in place to to prevent tampering. No personal information is
          collected through this application.
        </p>
        </p>
          Development Team:<br/>
          Project Lead: Lingliang Zhang<br/>
          Backend Engineer: Moiri Gamboni<br/>
          Frontend Engineer: Mariko Kuroda<br/>
        </p>
        <p class="text-muted">
          <small>
            NYUVote is available for free to all members of the NYU community.
            If you would like to use it for any purpose, simply reach out to
            lingliang.zhang (at) nyu.edu
          </small>
        </p>
      </div>
    </div>
</template>
