<template name="home">
  {{#if loggedIn}}
    {{> electionsList}}
    {{#if noMoreVotes}}
      <div class="ballots">
        You have {{ballotCount}} open ballots.
      </div>
      <button id="logout" type="button" class="account" id="logout" href="#">Logout</button><br/>
    {{else}}
      <div class="ballots">
        You have {{ballotCount}} open ballots.
      </div>
    {{/if}}
  {{else}}
    <div class="row">
      <div class="splash col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
        <div class="profileblur"></div>
        <p>
          Welcome to NYU Vote.
        </p>
        <p>
        <a href="/about">NYU Vote</a> is a flexible, multi-purpose voting system that can be used
          for everything from school wide elections to instant polls at
          meetings. 
        </p>
        <p>
          Login to cast your votes!
        </p>
        <button type="button" class="account" id="login" href="#">Login with NYU</button><br/>
        <p class="text-muted">
          <small>
            If you would like to use NYU Vote for your program, just reach out
            to the <a href="/about"> system administrator.</a>
          </small>
        </p>
      </div>
    </div>
  {{/if}}
  

</template>
