<template name="oldHome">
  {{#if loggedIn}}
    {{#if electionsReady}}
      {{> electionsList}}
      {{#if noMoreVotes}}
        <div class="ballots">
          You have {{ballotCount}} open ballots.
        </div>
        <button id="logout" type="button" class="account" href="#">Logout</button><br/>
      {{else}}
        <div class="ballots">
          You have {{ballotCount}} open ballots.
        </div>
      {{/if}}
    {{else}}
      <div class="bigLoad">
        <h1>
          Loading...
        </h1>
        <img src="/loader.gif" alt="" />
      </div>
    {{/if}}
  {{else}}
    <div class="row">
      <div class="splash col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
        <div class="profileblur"></div>
        <p>
          Welcome to NYUVote.
        </p>
        <p>
        <a href="/about">NYUVote</a> is a flexible, multi-purpose voting system that can be used
          for everything from school wide elections to instant polls at
          meetings. 
        </p>
        <p>
          Login to cast your votes!
        </p>
        <button type="button" class="account" id="login" href="#">Login with NYU</button><br/>
        <p class="text-muted">
          <small>
            If you would like to use NYUVote for your program, just reach out
            to the <a href="/about"> system administrator.</a>
          </small>
        </p>
      </div>
    </div>
  {{/if}}
</template>
