<template name="groupsList">
  Groups: </br>
  <table border="1" class="table table-striped table-bordered table-hover table-condensed">
  {{#each groups}}
    <tr>
      <td>Group Item: </td>
      <td><button class="modifyGroup btn btn-primary" href="#">Modify group</button></td>
    </tr>
    {{#if notModifying}}
      {{> groupsItem}}
    {{else}}
      {{> groupsModify}}
    {{/if}}
  {{/each}}
  </table>
  <button class="createGroup btn btn-primary" href="#">Create group</button>
  {{#if creating}}
    <table border="1" class="table table-striped table-bordered table-hover table-condensed">
    {{> groupsCreate}}
    </table>
  {{/if}}
</template>
