<template name="groupsModify">
    <tr><td></td><td>Name: <input class="group name" type="text" placeholder="{{name}}"></td></tr>
    <tr><td></td><td>Description: <input class="group description" type="text" placeholder="Group Description"></td></tr>
    <tr><td></td><td>Admins: <textarea rows="5" class="group admins">{{admins}}</textarea></td></tr>
    <tr><td></td><td>NetIds: <textarea rows="20" class="group netids">{{netIds}}</textarea></td></tr>
    <tr><td></td><td><button class="submitGroup btn btn-primary" href="#">Submit group</button></td></tr>
</template>
