<template name="about">
<div id="container">
  <div class="content-wrapper purple-bg">
    <div id="about-screen" class="purple-bg">
      <div class="centered-container">
        <h1>
          <a href="{{pathFor 'home'}}">
            NYU Vote
          </a>
        </h1>
        <p class="login-caption">
          NYU Vote is an open source live voting platform designed to be the
          union of capability and simplicity. It has an ultra simple
          user-facing ballot interface, as well as a minimilistic admin
          interface. Along with this, NYU Vote features a rich suite of
          features, such as live results display, data isolation, data
          privacy, fine grained voting rule control, extensibility and tight
          security.
          </p><br/>
        <p class="login-caption">
          NYU Vote is freely available to any member of the NYU community. Just
          get in touch with a member of the team.
          </p><br/>
        <p class="login-caption">
        <span class="bold">Development Team </span><br />
          <span class="bold">Lead Engineer: </span>Lingliang Zhang<br />
          (lz781@nyu.edu, <a class="light-grey" href="http://github.com/lingz">lingz</a>)<br />
          <span class="bold">Design: </span>Koh Terai<br />
          (kt1266@nyu.edu, <a class="light-grey" href="http://github.com/kohterai">kohterai</a>)<br />
          <span class="bold">Technical Support: </span>Moiri Gamboni<br />
          (mg3794@nyu.edu, <a class="light-grey"
            href="http://github.com/moiri-gamboni">moiri-gamboni</a>)
          </p><br />
        <p class="login-caption">
          Our code is on <a class="light-grey" href="http://github.com/hackAD/nyu-vote"
            alt="github">github.</a><br/><br/>
          This project is part of the <a href="http://nyuapps.com"
            alt="NYUApps">NYUApps intiative</a>. The developers are all part
          of the hackAD group in NYU Abu Dhabi. The project was sponsored by
          NYU SSC.
        </p>
        <a class="large-button" href="{{pathFor 'home'}}">
          Home
        </a>
      </div>
    </div>
  </div>
</div>
</template>
