<template name="about">
<div id="container">
  <div class="content-wrapper purple-bg">
    <div id="about-screen" class="purple-bg">
      <div class="centered-container">
        <h1>
          <a href="{{pathFor 'home'}}">
            Student Vote
          </a>
        </h1>
        <p class="login-caption">
          Student Vote is an open source live voting platform designed to be the
          union of capability and simplicity. It has an ultra simple
          user-facing ballot interface, as well as a minimilistic admin
          interface. Along with this, Student Vote features a rich suite of
          features, such as live results display, data isolation, data
          privacy, fine grained voting rule control, extensibility and tight
          security.
          </p><br/>
        <p class="login-caption">
          If you would like access to the Student Vote platform, please contact:<br/>
          <a class="light-grey info-link" href="mailto:studentgov.elections@nyu.edu">studentgov.elections@ynu.edu</a>
          </p><br/>
        <p class="login-caption">
        <span class="bold">Development Team </span><br />
          <span class="bold">Lead Engineer: </span>Lingliang Zhang<br />
          (lz781@nyu.edu, <a class="light-grey" href="http://github.com/lingz">lingz</a>)<br />
          <span class="bold">Design: </span>Koh Terai<br />
          (kt1266@nyu.edu, <a class="light-grey" href="http://github.com/kohterai">kohterai</a>)<br />
          <span class="bold">Technical Support: </span>Moiri Gamboni<br />
          (mg3794@nyu.edu, <a class="light-grey"
            href="http://github.com/moiri-gamboni">moiri-gamboni</a>)
          </p><br />
        <p class="login-caption">
          Our code is on <a class="light-grey" href="http://github.com/hackAD/nyu-vote"
            alt="github">github.</a>
          <a class="large-button" href="{{pathFor 'home'}}">
            Home
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
</template>
