<template name="help">
<div id="container">
  <div class="content-wrapper purple-bg">
    <div id="about-screen" class="purple-bg">
      <div class="centered-container">
        <h1>
          <a href="{{pathFor 'home'}}">
            Help
          </a>
        </h1>
        <p class="login-caption">
          Didn't receive a ballot you think you should have? Having troubles casting your vote?
        </p><br/>
        <p class="login-caption">
          If you are experiencing trouble with any part of Student Vote, you can reach out to the
          support team at:<br/>
          <a class="light-grey info-link" href="mailto:studentgov.elections@nyu.edu">studentgov.elections@ynu.edu</a>
          </p><br/>
        <a class="large-button" href="{{pathFor 'home'}}">
          Home
        </a>
      </div>
    </div>
  </div>
</div>
</template>
