<<<<<<< HEAD
html{
}
body{
	font-family: 'Montserrat', sans-serif;
}

#header{
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	background: black;
	color:white;
	font-size:2em;
	min-height: 100%;
}

.bold{
	font-weight:700;
}
.loginsection{
	text-align:center;
	font-size: 1.5em;
	margin-top: 10px;

}
#login{
	height: 50px;
	width: 200px;
	height:50px;
	color: white;
	background: black;
	border: none;
	border-radius: 15px;
	margin-bottom:10px;

}
#main{
	position: relative;
	color:black;
	margin-right: auto;
	margin-left: auto;
}
.backgroundimg{
	
	position: absolute;
	z-index: -9999;
	opacity: 0.25;
	height: 100%;
	width: 200px;
	right: 0;
	background-image: url("http://2.bp.blogspot.com/-DQQPXyZ-SAk/Tje8yekH9VI/AAAAAAAAAro/AN4kUDLSyF8/s760/NYU_Torch.jpg");
	background-repeat: repeat-y;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

.choices{
	color:white;
}

.eachelection{
	position: relative;
}
.electionitem{
	width: 100%;
	padding: 10px 50px 20px 50px;
	margin-left: auto;
	margin-right: auto;
}

.electiontitle{
	background: rgb(82,46,145);
	color: white;
	font-size: 2em;
	padding: 10px 10px 20px 10px;
	text-align:center;
}
.arrowdown{
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	width:0;
	border-top: 20px solid rgb(82,46,145);
	position: relative;
	margin-top: -20px;
	margin-right: auto;
	margin-left: auto;
}

.electiondescription p{
	font-size:1.2em;
	text-align: center;
	padding: 0px 50px;
	margin-top: 20px;
}

.questionsbox{
	font-size:1.8em;
	text-align: center;
}
.questiondescription{
	font-size:1.2em;
	text-align:center;
}

.choicename{
	font-size: 1.6em;
	margin-bottom:15px;
}
.profilepic{
	width: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.profilebox{
	position: relative;
	text-align: center;
	margin-top: 30px;
	padding: 50px 50px;
}
.profileblur{
	height: 100%;
	background: rgba(0,0,0,0.8);
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -9999;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);

}
.description{
	font-size:1em;
	width:100%;
	text-align:left;
	margin-top:15px;
}

.position{
	font-size: 2.5em;
	margin-left: 52px;
}
h5{
	font-size:2em;
}
.buttons{
	margin-bottom:20px;
	text-align:center;
}
.submit{
	height: 50px;
	font-size: 1.5em;
	width: 200px;
	height:50px;
	color: white;
	background: black;
	border: none;
	border-radius: 15px;
}

#footer{
	background: black;
	color: white;
	text-align: center;
	position: absolute;
	width: 100%
}
.chosen {
  background-color: rgba(82,46,145,0.4);
}
