<template name="adminMaster">
	<div id = "header">
    <a href="/"><div id="nyuvote">NYUVote</div></a>
	</div>
  {{> userErrors}}
  {{#if loggedIn}}
    {{#if canAccess}}
      {{> yield}}
    {{else}}
      <p>
        Sorry! You are not currently logged in as an admin
        of NYUVote. Please contact lingliang.zhang (at) nyu.edu
        if you want like to use NYUVote for your program.
      </p>
    {{/if}}
  {{else}}
    <h1>
      You are not Logged In
    </h1>
    <button class="login">Login</button>
  {{/if}}
  {{> footer}}
</template>
