<template name="groupsAdminCreate">
  <div class="email-content">
    <div class="email-content-header pure-g">
        <div class="pure-u-1-2">
            <h1 class="email-content-title">Create New Group</h1>
        </div>
    </div>
    <div class="email-content-body">
      <!-- start -->
      <form id="newGroup" class="pure-form pure-form-stacked">
        <fieldset>
          <label for="groupName" class="text-muted">Group Name </label>
          <input id="groupName" class="new group name" type="text" placeholder="Name">
          <label for="groupDescription" class="text-muted">Group Description </label>
          <input id="groupDescription" class="new group description" type="text" placeholder="Group Description">
          <label for="groupAdmins" class="text-muted">Group Description </label>
          <textarea id="groupAdmins" rows="5" class="new group admins">netId&#10;netId&#10;netId</textarea>
          <label for="groupNetIds" class="text-muted">Group NetIds </label>
          <textarea id="groupNetIds" rows="20" class="new group netids">netId&#10;netId&#10;netId</textarea>
          <button class="new submitGroup pure-button pure-button-primary" href="#">Create group</button>
        </fieldset>
      </form>
      <!-- end -->
    </div>
  </div>
</template>
