<template name="groupsAdminShow">
  {{#with group}}
    <div class="email-content">
      <div class="email-content-header pure-g">
          <div class="pure-u-1-2">
              <h1 class="email-content-title">Showing Group: {{ name }}</h1>
              <p class="email-content-subtitle">
              <span>Created By</span> {{creator}}
              </p>
          </div>
          <div class="email-content-controls pure-u-1-2">
              {{#if canEdit}}
                <a href={{pathFor 'adminGroupsEdit'}} class="pure-button
                  button-warning">Edit This Group</a>
              {{/if}}
          </div>
      </div>
      <div class="email-content-body">
      <!-- start -->
        <h1>Group Data</h1>
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr><th>Name</th><th>{{name}}</th></tr>
          </thead>
          <tbody>
            <tr><td>Admins</td><td>{{admins}}</td></tr>
            <tr><td>Users</td><td>{{usersCount}}</td></tr>
          </tbody>
        </table>
        <!-- end -->
      </div>
    </div>
  {{/with}}
</template>
