<template name="electionItem">

<div class="eachelection">
	<div id="headerbanner">
		<div id="header-{{_id}}" class="electiontitle">Election Title:<br>{{name}}</div><br/>
		<div class = "arrowdown"></div>
	</div>
	<div class="electiondescription"><p>Election Description: {{description}}</p><br/></div>
	<div class= "electionitem">
		
		{{#each questions}}
		  {{> electionsQuestions}}<br/>
		{{/each}}
		
	</div>
	<div class="buttons">
		 	<button type ="button" class="submit"> Vote </button>
	</div>
	
</div>

</template>
